@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html {
	font-family: 'Courier Prime', monospace;
	color: #333;
}

#fp-nav ul li .fp-tooltip {
	color: #333;
}

.section {
	text-align: center;
}

h1 {
	font-size: 6em;
	margin: 0;
}

.intro p {
	font-size: 3em;
	/*margin: 0;*/
	padding-left: 10%;
	padding-right: 10%;
}